* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nonBoardH: calc(70px * 2 + 16px);
  --unit: min(calc(100vw / 15), calc((100vh - var(--nonBoardH)) / (calc(12 + var(--midX)))));
  --midX: 4;
  --boardH: calc(var(--unit) * (calc(12 + var(--midX))));
  --boardW: calc(var(--unit) * 15);
  --board: #247345;
  --edge: rgb(97, 59, 26);
  --odds: #231F20;
  --evens: #FFFFF0;
  --good: linear-gradient(135deg, hsl(200, 77%, 72%) 0%, hsl(200, 44%, 50%) 40%,  hsl(200, 44%, 50%) 70%,  hsl(200, 69%, 43%) 100%);
  --evil: linear-gradient(135deg, hsl(55, 77%, 72%) 0%, hsl(55, 44%, 50%) 40%,  hsl(55, 44%, 50%) 70%,  hsl(55, 69%, 43%) 100%);
  
}

body {
  background-color: var(--evens);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  height: 100vh;
}

header, footer {
  background-color: var(--odds);
  color: var(--evens);
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  height: 70px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .oi {
  position: relative;
  font-size: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotate {
  background-color: var(--board);
}

#undo {
  background-color: red;
}

h1 {
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 1;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.22);
}

.even {
  background-color: var(--evens);
  border: calc((var(--unit))/2) solid var(--evens);
}

.odd {
  background-color: var(--odds);
  border: calc((var(--unit))/2) solid var(--odds);
}
 
.edge {
  clip-path: none;
  background-color: var(--edge);
  box-shadow: 5px 5px 10px calc(var(--unit)/50) rgba(97, 59, 26, .5);
}

#board {
  background-color: var(--board);
  width: var(--boardW);
  height: var(--boardH);
  display: grid;
  grid-template-columns: repeat(15, var(--unit))  ;
  grid-template-rows: repeat(6, var(--unit)) calc(var(--unit) * var(--midX)) repeat(6, var(--unit));
  position: relative;
  left: calc((100vw - var(--boardW))/2);
  margin-bottom: 8px;
  margin-top: 8px;
  transition: transform .5s;

}

.rotated {
  transform: rotate(180deg);
}


#points {
  position: absolute;
  top: var(--unit);
  left: var(--unit);
  z-index: 99;
  display: grid;
  grid-template-rows: repeat(2, calc(var(--unit) * 6)); 
  grid-template-columns: repeat(14, var(--unit));
  grid-row-gap: calc(var(--unit) * var(--midX) - (var(--unit) * 2));
}

.point {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  /* justify-content: flex-start ; */
}

.bottom {
  flex-flow: column-reverse;
}

#bounced {
  grid-row: 1 / 3;
  grid-column: 7 / 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.man {
  height: calc(var(--unit) * .9);
  width: calc(var(--unit) * .9);
  border-radius: 50%;
  box-shadow: 0 0 6px calc(var(--unit)/50)  black;
  z-index: 999;
  margin: 1px;
}

.good {
  background: var(--good);
}

.evil {
  background: var(--evil);
}

.die {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(var(--unit)* .90);
  height: calc(var(--unit)* .90);
  font-size: calc(var(--unit)/7);
  padding: calc(var(--unit)/13);
  border: var(--odds) solid 1px;
  color: black;
  font-weight: bold;
  text-shadow: var(--evens) .2px .2px .5px;
  box-shadow: 1px 1px 6px calc(var(--unit)/50)  black;
  z-index: 998;
  cursor: pointer;
}

.die span {
  font-size: calc(var(--unit)/2);
}

.box-1 {
  align-self: center;
  text-align: center;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.box-2 {
  align-self: center;
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.box-3 {
  align-self: center;
  text-align: center;
  grid-row: 3 / 3;
  grid-column: 1 / 2;
}

.box-4 {
  align-self: center;
  text-align: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.box-5 {
  align-self: center;
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.box-6 {
  align-self: center;
  text-align: center;
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

.box-7 {
  align-self: center;
  text-align: center;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.box-8 {
  align-self: center;
  text-align: center;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.box-9 {
  align-self: center;
  text-align: center;
  grid-row: 3 / 3;
  grid-column: 3 / 4;
}

.mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-good-25, #home-evil-0 {
  background: linear-gradient(90deg, 
  var(--edge) 7%,
  hsla(24, 64%, 10%, 0.878) 10%,
  hsla(24, 64%, 17%, 0.878) 40%,
  hsla(23, 71%, 18%, 0.878) 50%,
  hsla(24, 64%, 20%, 0.878) 91%,
  hsla(24, 64%, 5%, 0.878) 92%,
  var(--edge) 93%

  );
}

#home-good-25 .man, #home-evil-0 .man {
  height: calc(var(--unit)/5);
  border-radius: calc(var(--unit));
}

.ui-droppable-active {
  border: dashed 1px rgb(7, 40, 7);
}

.winners {
  position: relative;
  animation: spin 2s infinite linear;
  z-index: 9999;
}

.winners.man {
  animation: flutter .5s infinite linear;
  animation-delay: 4s;

}

.newWrapper {
  position: absolute;
  top: calc(var(--unit)*4);
  left: calc(var(--unit)*4);
  z-index: 99;
  height: calc(var(--boardH)/2);
  width: calc(var(--boardW)/2);
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  75% {
    transform: rotateX(270deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}